@charset "utf-8";
@import "./variables.scss";
@import "../../node_modules/bulma/bulma.sass";

.App {
  background: radial-gradient(farthest-corner at 0px 15px, $fireThree, $fireThree, $fireThree, $fireThree, $fireThree, $fireThree, $fireThree, $earthTwo);
  min-height: 100vh;
  font-weight: 600;
  font-size: 1.5em;
  padding: 1.5rem;
}

div.columns {
  min-height: 60vh;
}

nav.level {
  color: $earthFour;
}

footer.footer {
  position: absolute;

}