$one: #1f2f49;
$two: #ffce8d;
$three: #f95142;
$four: #f3ede3;
$five: #1e1610;
$six: #d3ad8b;
$seven: #ff8f46;
$eight: #f2bb4e;
$nine: #84a3a5;
$ten: #4d7c71;
$eleven: #405987;


//Customizing Variables
$column-gap: 1.5em;
$body-color: $two;
$title-color: $two;
$footer-background-color: transparent;
$footer-padding: 1rem .25rem 2rem;
$family-sans-serif: 'Rubik', sans-serif;


//buttons
$button-color: $two;
$button-background-color: transparent;
$button-border-color: transparent;
$button-border-width: .20rem;
$button-hover-color: $eight;
$button-hover-border-color: transparent;
$button-focus-color: $two;
$button-focus-border-color: transparent;
$button-focus-box-shadow-size: 0;
$button-active-color: $seven;
$button-active-border-color: transparent;

//message box
$message-background-color: transparent;
$message-radius: 5px;
$message-body-color: $six;
$message-body-border-color: $three;
$message-body-border-width: 0 0 0 2px;
$message-body-padding: 1em;

//breadcrumbs
$link: $four;
$link-hover-color: $two;
$link-hover-border: $one;
$link-focus: $one;
$link-focus-border: $one;
$link-active: $ten;
$link-active-border: $eleven;
$breadcrumb-item-color: $eight;
$breadcrumb-item-hover-color: $two;
$breadcrumb-item-separator-color: transparent;

//title
$title-color: $three;
$title-line-height: 1.5;