$earthOne: #2b2821;
$earthTwo: #624c3c;
$earthThree: #d9ac8b;
$earthFour: #e3cfb4;
$earthFive: #b1a58d;
$skyOne: #243d5c;
$skyTwo: #5d7275;
$skyThree: #5c8b93;
$fireOne: #b03a48;
$fireTwo: #d4804d;
$fireThree: #292831;
$grass: #3e6958;


$link: $fireTwo;

//Customizing Variables
$column-gap: 1.5em;
$body-color: whitesmoke;
$title-color: whitesmoke;
$footer-background-color: transparent;
$footer-padding: 1rem .25rem 2rem;
$font: 'Varta', sans-serif;


//buttons
$button-color: $fireOne;
$button-background-color: transparent;
$button-border-color: transparent;
$button-border-width: .20rem;
$button-hover-color: $earthThree;
$button-hover-border-color: transparent;
$button-focus-color: $skyTwo;
$button-focus-border-color: transparent;
$button-focus-box-shadow-size: 0;
$button-active-color: $skyThree;
$button-active-border-color: transparent;

//message box
$message-background-color: transparent;
$message-radius: 10px;
$message-body-color: $earthFour;
$message-body-border-color: $earthTwo;